@import "@my2rela/react-kit/components/style.scss";

.form-inventorie {
  display: flex;
  flex-direction: column;

  .form-inventorie__item {
    margin: 0.5rem 0;
  }

  .form-inventorie__item-quantify {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include desktopBreakpoint {
      flex-direction: row;
    }

    .form-inventorie__item {
      width: 100%;

      @include desktopBreakpoint {
        width: 30%;
      }
    }
  }

  .form-inventorie__item-action {
    width: 10rem;
    margin: 1rem auto;
  }

}
