@import "@my2rela/react-kit/components/style.scss";

.item-comp__list-item {
  @include border-card;
  box-sizing: border-box;
  min-width: 100%;
  max-height: 8rem;

  display: flex;
  flex-direction: column;
  margin: 0.2rem auto;

  .item-comp__list-item__action {
    margin: 0.3rem 0;
    display: flex;
    justify-content: center;

    .item__action-button {
      width: 98%;
      cursor: pointer;

      &.minus {
        background-color: $color-fourth;
        &:active {
          background-color: $color-main-light;
        }
      }

      &.remove {
        background-color: $color-logout;
        &:active {
          background-color: $color-main-light;
        }
      }

      &.plus {
        &:active {
          background-color: $color-main-light;
        }
      }
    }
  }

  .item-comp__list-item__important-info {
    display: flex;
    font-size: 11px;
    font-weight: bold;
    justify-content: space-between;
    word-break: keep-all;
  }

  .item-comp__list-item__important-commande {
    display: flex;
    font-size: 11px;
    justify-content: space-between;
  }
}