@import "@my2rela/react-kit/components/style.scss";

.inventories-list {
  display: flex;
  flex-direction: column;

  .inventories-list__filter {
    .filter__input {
      width: 20rem;
    }
  }

  .inventories-list__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .list__loader {
      width: 100%;
      margin: 1rem auto;
      box-sizing: border-box;
    }

    .list__item {
      width: 30%;
      box-sizing: border-box;
      @include border-card;
      margin: 0.2rem 0;

      @include tabletBreakpoint {
        width: 100%;
      }

      @include mobileBreakpoint {
        width: 100%;
      }

      display: flex;
      flex-direction: column;

      &:hover {
        background-color: $color-main-light;
      }

      .list__item-value-infos { 
        display: flex;

        .list__item-value-infos__barcode {
          font-weight: bold;
          font-size: 1rem;
        }

        .list__item-value-infos_name {
          font-style: italic;
          font-size: 1rem;
        }
      }

      .list__item-value {
        display: flex;
        justify-content: space-between;

        .list__item-value__label {
          text-decoration: underline;
        }

        .list__item-value__number {
          font-weight: bold;

          &.__number-cost {
            color: #ec431d;
          }

          &.__number-price {
            color: #0a5e3e;
          }

          &.__number-empty {
            color: #ff0000;
          }

          &.__number-warning {
            color: #cadf0b;
          }

          &.__number-correct {
            color: #0c8015;
          }
        }

        &.footer {
          margin: 0.5rem 0;
          flex-direction: column;

          &> * {
            margin-top: 0.3rem;
          }

          .list__item-button {
            cursor: pointer;
            
            &.details {
              color: $gray;
              background-color: $color-third;
            }
          }
        }
      }
    }

    .list__item-blur {
      width: 30%;
    }
  }

  .inventories-list__pagination {
    margin: 1rem auto 0;
  }
}
