@import "@my2rela/react-kit/components/style.scss";

.cashier {
  display: flex;
  justify-content: space-between;
  margin: 1rem auto;

  .cashier__items {
    width: 59%;
  }

  .cashier__cart {
    width: 40%;
  }

  .cashier__cart-pay {
    display: flex;
    flex-direction: column;

    .cashier__cart-pay__resume {
      display: flex;
      justify-content: space-between;
      margin: 1rem 0;

      .cashier__cart-pay-value {
        font-size: 15px;
        font-weight: bold;
      }

      .cashier__cart-pay-change {
        font-size: 15px;
      }
    }

    .cashier__cart-pay__action {
      margin: 1rem 0;
      display: flex;
      justify-content: space-between;

      .cashier__cart-pay__action-pay {
        width: 70%;

        .action-pay__button {
          &:hover {
            background-color: $color-main-dark
          }
          
          &:active {
            background-color: $color-main-light;
          }
        }
      }

      .cashier__cart-pay__action-cancel {
        width: 28%;

        .action-cancel__button {
          background-color: $color-logout;

          &:hover {
            background-color: $color-second;
          }
          
          &:active {
            background-color: $color-main-light;
          }
        }
      }
    }
  }
}